<header id="header">
    <div class="loader">
        <div class="loader-progress" style="width:0%;"></div>
    </div>
    <div class="header-container">
    </div>
    <div class="notification-list label notification-list-empty"></div>
    <!-- 公告 -->
    <div class="noticeIcon"><i class="triangle"></i></div>
    <div class="noticeCon">
        <header class="noticeConHd">关于变更电子发票的公告</header>
        <div class="noticeMain">
            <p class="conHd">尊敬的顾客：</p>
            <p class="paragraph">根据《关于推行通过增值税电子发票系统开具的增值税电子普通发票有关问题的公告》（国家税务总局公告2015年第84号），我司已逐步在部分星巴克门店推行增值税电子普通发票。如顾客需要纸质发票，可以自行打印增值税电子普通发票的版式文件，其法律效力、基本用途、基本使用规定等与税务机关监制的增值税普通发票相同。</p>
            <p class="paragraph">您可通过扫描收银条下方的二维码或输入电子发票提取码的方式开具增值税电子普通发票。如您对电子发票的开具有任何疑问，请点击查看<a class="answer" href="">常见问题解答</a>或致电收银条上的电子发票服务热线垂询。</p>
            <p class="conFt">2016年12月20日</p>
        </div>
    </div>
</header>